/* Define estilos gerais para o elemento body do documento */
body {
    text-align: center; /* Centraliza o texto horizontalmente */
    flex-direction: column; /* Configura os elementos filhos do body em uma coluna vertical */
    min-height: 93vh; /* Faz com que o body tenha no mínimo a altura da janela de visualização */
    padding-top: 120px; /* Adiciona espaço no topo para compensar a altura do header ou outro conteúdo fixo */
}

/* Define estilos para o contêiner principal do formulário */
#FormDiv {
    width: 100%; /* Define a largura como 100% da largura do contêiner pai */
    max-width: 1200px; /* Limita a largura máxima a 1200px */
    margin: 300px auto; /* Centraliza horizontalmente e adiciona margem de 400px na parte superior e inferior */
    background-color: #fff; /* Define a cor de fundo como branco */
    padding: 30px; /* Adiciona espaço interno de 20px em todos os lados */
    border-radius: 10px; /* Arredonda os cantos do contêiner */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil ao contêiner */
    position: relative; /* Define a posição como relativa para que os elementos posicionados absolutamente dentro dele se relacionem a este contêiner */
}

/* Estilos para o elemento form */
#Form {
    width: 90%; /* 80% da largura de FormDiv */
    margin: auto auto; /* Isso centraliza o formulário horizontalmente dentro do FormDiv */
}

/* Estiliza cada linha do formulário */
.FormLine {
    display: flex; /* Usa o display flexível para alinhar os elementos filhos */
    flex-wrap: wrap; /* Permite que os itens da flexbox se envolvam para a próxima linha se necessário */
    margin-bottom: 25px; /* Adiciona margem abaixo de cada linha */
    justify-content: space-between; /* Distribui o espaço igualmente entre os itens da linha */
}

/* Estiliza a div que contém cada rótulo do formulário */
.LabelDiv {
    flex: 1; /* Ocupa todo o espaço disponível na linha */
    padding: 5px; /* Adiciona espaço interno de 5px em todos os lados */
    margin: 0 10px; /* Adiciona margens horizontais de 10px e margem vertical de 0 */
}

/* Estiliza os campos de texto e os elementos select do formulário */
.Textinput, select {
    width: 100%; /* Define a largura como 100% da largura do contêiner pai */
    padding: 10px; /* Adiciona espaço interno de 10px em todos os lados */
    border: 1px solid #ccc; /* Adiciona uma borda cinza clara de 1px */
    border-radius: 5px; /* Arredonda os cantos dos campos */
    font-size: 16px; /* Define o tamanho da fonte para 16px */
}

/* Estiliza o título que aparece acima das opções de escolha */
.OutWhitebox {
    color: #7eadbf; /* Define a cor do texto */
    font-weight: 600; /* Define o peso da fonte como semi-negrito */
    margin-bottom: 5px; /* Adiciona uma pequena margem abaixo do título */
    display: block; /* Faz o título se comportar como um bloco, ocupando toda a largura e aparecendo em sua própria linha */
}

/* Estiliza a área de texto sobre o usuário */
#aboutUser {
    height: 300px; /* Define a altura da área de texto */
}

/* Estiliza os títulos h1 */
h1 {
    margin-bottom: -350px; /* Desloca o h1 350px para cima, sobrepondo o conteúdo abaixo */
}




/* Estiliza os botões de opção do formulário */
input[type="radio"] {
    margin-right: 5px; /* Adiciona uma margem à direita de cada botão de opção */
}

/* Estiliza o contêiner que contém as opções de gênero */
.genderOptions {
    display: flex; /* Usa o display flexível para alinhar os elementos filhos */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

/* Estiliza os rótulos das opções de gênero */
.genderOptions label {
    display: inline-block; /* Faz com que os rótulos se comportem como blocos inline */
    margin-left: 10px; /* Adiciona uma margem à esquerda de cada rótulo */
    margin-right: 10px; /* Adiciona uma margem à direita de cada rótulo */
    font-size: 18px; /* Define o tamanho da fonte para os rótulos */
}
