/* Estilos para a lista de links */
.list_links {
    font-size: 16px;
    text-align: left;
    color: #B1B0D9;
    margin: 10px;
    padding: 0;
}

/* Estilos para os links dentro da lista */
.list_links a {
    color: #B1B0D9;
    text-decoration: none;
}

/* Estilos para os links quando o mouse passar por cima */
.list_links a:hover {
    text-decoration: underline;
    color: #B1B0D9;
}

/* Estilos para o contêiner principal do conteúdo */
.content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 80vh; /* Garante que o conteúdo ocupe pelo menos 80% da altura da janela */
}

/* Estilos para o texto */
.text {
    width: 50%;
    text-align: left;
    letter-spacing: 0px;
    font-size: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

