

/* Estilos do contêiner do formulário */
body {
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
    flex-direction: column;
}

#FormDiv {
    width: 90%;
    max-width: 1200px;
    margin: 400px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Adicionado para posicionar o botão em relação ao FormDiv */
}

#Form {
    width: 100%;
}

.FormLine {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    justify-content: space-between; /* Distribui os campos uniformemente */
}

.LabelDiv {
    flex: 1;
    padding: 5px;
    margin: 0 10px; /* Adicionando margem horizontal */
}

.Textinput, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.OutWhitebox {
    color: #7eadbf;
    font-weight: 600;
    margin-bottom: 5px;
    display: block; /* Faz o título aparecer acima das opções */
}


#aboutUser {
    height: 100px;
}



.myButton {
    padding: 10px 20px;
    background-color: #7eadbf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.myButton:hover {
    background-color: #6898a0;
}

/* Estilos para os botões de opção */
input[type="radio"] {
    margin-right: 5px;
}

.genderOptions {
    display: flex; /* Alinha as opções lado a lado */
    align-items: center; /* Alinha verticalmente no centro */
    justify-content: center; /* Centraliza horizontalmente */
}

.genderOptions label {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
}


body {
    padding-top: 150px; /* 108px (altura do header) + 10px (padding do header) */
}

#aboutUser {
    height: 300px; /* Ajuste conforme necessário */
}

h1 {
    margin-bottom: -350px; /* Ajuste este valor conforme necessário */
}


.custom-button {
    font-size: 16px; /* Reduzido o tamanho da fonte */
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #FFFBFC;
    border: 2px solid #F2DCE4;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    width: max-content;
    margin-left: auto; /* Isso alinhará o botão à direita */
    margin-right: 0; /* Remova a margem direita para alinhar completamente à direita */
}

.custom-button:hover {
    font-size: 16px; /* Reduzido o tamanho da fonte */
    background-color: #F2DCE4;
    font-size: 16px;
    color: #FFFBFC;
    font-weight: bold;
    transition: 0.3s;
    width: max-content;
    margin-left: auto; /* Isso alinhará o botão à direita */
    margin-right: 0; /* Remova a margem direita para alinhar completamente à direita */
    display: flex;
    align-items: center;
    justify-content: center;

}

