body {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row; /* Mude para 'row' para colocar os filhos lado a lado */
    align-items: center;
    justify-content: center;
}

.instrucao-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pena-container {
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
}

.sound-toggle {
    width: 30px;
    height: 30px;
    background-image: url('../images/mudo.png');
    cursor: pointer;
    background-repeat: no-repeat;
    align-self: flex-start;
    margin-top: 10px;
}

.sound-toggle:hover {
    background-image: url('../images/volume.png');
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
