.people_container, .content_container {
    width: 100%;
    display: inline-block;
}

.person {
    text-align: center;
    display: inline-block;
}

.person_name {
    text-decoration: none;
}

.clickable_icon {
    width: 35px;
    height: 35px;
}

.intro_text {
    margin: 64px;
}

.intro_image {
    margin: 24px;
}

.page_container{
    width: auto;
    height: auto;
}

.esquerda, .direita{
    width: 50%;height: 50%  ;
}

.esquerda{
    float: left;
}

.direita{
    float: right;
}

.first_title{
    font-size: 70px;
    color: #B1B0D9;
    line-height: 30%;
}

.second_title {
    font-size: 70px;
    color: #7EADBF;
    line-height: 30%;
}

.credits {
    margin: 24px;
}
