/* Estilos para o contêiner principal do conteúdo */
.content {
    width: 100%;                     /* Define a largura do contêiner como 80% da janela */
    margin: 0 auto;                 /* Centraliza o contêiner horizontalmente */
    display: flex;                  /* Define o display como flex para criar um layout flexível */
    flex-direction: column;         /* Define a direção dos itens flex como coluna */
    justify-content: center;        /* Centraliza os itens flex verticalmente */
    align-items: center;            /* Centraliza os itens flex horizontalmente */
    position: relative;             /* Para posicionar o botão em relação a este contêiner */
}

/* Estilos para o texto */
.text {
    width: 50%;                     /* Define a largura do texto */
    text-align: left;               /* Alinha o texto à esquerda */
    letter-spacing: 0px;            /* Define o espaçamento entre as letras */
    font-size: 30px;                /* Define o tamanho da fonte */
    display: block;                 /* Define o display como bloco */
    margin-left: auto;              /* Margem automática à esquerda */
    margin-right: auto;             /* Margem automática à direita */
}

