

.nav_button {
    color: #181616;
    text-decoration: bold;
}

.nav_button:hover {
    color: #B1B0D9;
}

/* Estilo do conteúdo principal */
.content {
    width: 80%;            /* Define a largura do contêiner como 80% da janela */
    margin: 0 auto;        /* Centraliza o contêiner horizontalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;    /* Para posicionar o botão em relação a este contêiner */

}

.first_title {
    padding-top: 150px; /* Este valor deve ser igual ou ligeiramente maior que a altura do seu header ou qualquer outro elemento fixo no topo. */
    flex: auto;
    display: flex;
    text-align: center;
    margin-bottom: 0px; /* Ajuste o valor conforme necessário */
    font-size: 70px;
    color: #B1B0D9;
}

.second_title {
    display: flex;
    text-align: center;
    margin-bottom: 0x; /* Ajuste o valor conforme necessário */
    font-size: 100px;
    color: #7EADBF;
    line-height:0%;
}

.text {
    width: 50%;              /* Defina a largura que você deseja para o texto */
    text-align: left;      /* Alinha o texto à esquerda */
    letter-spacing: 1.5px;
    font-size: 25px;
    display: block;

    margin-left: auto;        /* Margem automática à esquerda */
    margin-right: auto;       /* Margem automática à direita */
    text-align: left;         /* Alinha o texto à esquerda */
}

.custom-button {
    position: absolute;    /* Posiciona o botão em relação ao contêiner ".content" */
    bottom: 30px;          /* 20 pixels da parte inferior do contêiner */
    right: 0px;           /* 20 pixels da direita do contêiner */
    z-index: 2;            /* Garante que o botão esteja acima do fundo */
}

.content::before {
    content: "";           /* Conteúdo vazio necessário para o pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
