@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background-color: #F8FDFF;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    text-align: center;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body > *:not(footer_2) {
    flex: 1 0 auto; /* Ocupa todo o espaço disponível, exceto o necessário para o footer_2 */
}

.content {
    flex: 1 0 auto;
    display: flex; /* Adicionado para tornar o contêiner um flex container */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-wrap: wrap; /* Permite que os itens se envolvam se necessário */
    line-height: 0%;
}


.esquerda, .direita {
    flex: 1; /* Permite que ambos ocupem espaço igual */
    max-width: 50%; /* Define a largura máxima para 50% */
    box-sizing: border-box; /* Garante que padding e border estejam incluídos na largura */
    padding: 20px; /* Adiciona um pouco de espaço entre os elementos */
    width: 50%;height: 50%  ;
}

p {
    margin:24px;
}

h1{
    color: #B1B0D9;
    text-align: center;
}

h2{
    text-align: center;
}

p{
    color: #7F7F7F;
    text-indent: 25px;
    font-size: large;
    margin: 64px;
}

li {
    color: #7F7F7F;
    text-indent: 25px;
}

header {
    margin:0px;
    padding: 0px;
	background-color: #F8FDFF;
    width: 100%;
	height: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px; /* Adicionado um padding para dar espaço ao redor */
    position: fixed; /* Adicione isso para posicionar o menu e a imagem em relação ao header */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Isso garante que o header fique acima de outros elementos */
    background-image: url('/images/cabecalho.png');
    background-repeat: no-repeat;
    background-position: right 30px top; /* Centraliza a imagem de fundo */
    
}

footer {
    width: 100%;
    height: 0px;
    background: linear-gradient(to right, #E8FDFA, #F2DCE4); /* "to right" faz o degradê ir da esquerda para a direita */
    position: relative;
    flex-shrink: 0;
    overflow: hidden; /* Isso garante que o pseudo-elemento não saia do footer */
}

footer::before {
    content: "";
    position: absolute;
    top: -100px; /* Isso move o pseudo-elemento para cima */
    left: 0;
    right: 0;
    height: 100px;
    background: inherit; /* Pega o mesmo background do footer */

}


footer_2 {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #E8FDFA, #F2DCE4); /* "to right" faz o degradê ir da esquerda para a direita */
    position: relative;
    flex-shrink: 0;
    overflow: hidden; /* Isso garante que o pseudo-elemento não saia do footer */
    bottom: 0; /* Grudando o footer no final da página */
}

.logo {
    width: 0px;
    height: 100px;
}

.menus {
    position: absolute; /* Posicione o elemento menus absolutamente dentro do header */
    padding: -35px 20px; /* Ajuste o valor conforme necessário */
    font-size: 17px;
    right: 70px; /* Posicione no lado direito do header */
    width: auto; /* Remova a largura de 100% */
    height: 70px;
    display: flex;
    justify-content: flex-end; /* Alinhe o menu à direita */
    align-items: center;
}


nav {
    position: relative; /* Posicione o nav absolutamente dentro do elemento menus */
    top: 0%; /* Posicione o nav no centro vertical do elemento menus */
    left: 40%; /* Posicione o nav no centro horizontal do elemento menus */
    transform: translate(-40%, -50%); /* Use a transformação para centralizar perfeitamente o nav */
}



.nav_button {
    color: #181616
}

.nav_button:hover {
    color: #B1B0D9;
}

a {
    color: #181616;
    text-decoration: none;
    font-weight: 800;
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
}

a:hover{
    color: #7EADBF;
    text-decoration: underline;
  }

  table {
    margin: 64px auto;
    font-size: 18px;
    width: 100%;
    border-collapse: collapse;
  }

  caption, .table-title {
    font-size: 30px;
    color: #7EADBF;
    text-align: center;
    font-weight: 900;
    margin-bottom: 10px;
  }

  th, td {
    color: #494545;
    padding: 15px;
    box-sizing: border-box;
  }

  tbody tr {
    color: #7F7F7F;
    border-bottom: 1px solid #ccc;
  }



.list_links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.first_title {
    margin-bottom: 70px; /* Ajuste o valor conforme necessário */
    font-size: 70px;
    color: #B1B0D9;
    line-height: 30%;
}

.second_title {
    font-size: 50px;
    color: #7EADBF;
    line-height: 30%;
}

.credits {
    margin: 10px;
    margin-top: 10px; /* Reduz o espaço acima do texto 'Built in 2023, powered by FIAP' */
}

.third_title{
    font-size: 20px;
    color: #181616;
    font-style: bold;
    line-height: 200%;
}

.intro_text{
    font-size: 18px;
    color: #181616;
    font-style: bold;
    line-height: 200%;   
}


.text{
    font-size: 25px;
    color: #181616;
    font-style: bold;
    line-height: 200%;   
}


.custom-button {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #FFFBFC;
    border: 2px solid #F2DCE4;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 20px;
    width: max-content;
    margin-left: auto; /* Adicionado para centralizar o botão */
    margin-right: auto; /* Adicionado para centralizar o botão */
}

.custom-button:hover {
    background-color: #F2DCE4;
    font-size: 20px;
    color: #FFFBFC;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 20px;
    width: max-content;
    margin-left: auto; /* Adicionado para centralizar o botão */
    margin-right: auto; /* Adicionado para centralizar o botão */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.feather-icon {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    width: 25px; /* Reduzido o tamanho do ícone */
    height: 25px; /* Reduzido o tamanho do ícone */
}

.custom-button:active .feather-icon {
    width: 25px; /* Tamanho do ícone após o clique */
    height: 25px; /* Tamanho do ícone após o clique */
}